# This notebook demonstrates how Opxs can be matched to all possible liquids, including various equilibrium tests. 
- Users should first go through the example Opx_Liq_Thermobarometry.ipynb

## Loading python things

In [1]:
import numpy as np
import pandas as pd
import sys
sys.path.append("../..") # This allows you to put the python file in the folder above. So you can have lots of sub folders
import matplotlib.pyplot as plt
import Thermobar as pt

## Loading just Liquids from one sheet

In [2]:
out1=pt.import_excel('Opx_Liq_Example.xlsx', sheet_name="Separate_Liqs")
my_input=out1['my_input']
Liqs=out1['Liqs']
display(Liqs.head())

,SiO2_Liq,TiO2_Liq,Al2O3_Liq,FeOt_Liq,MnO_Liq,MgO_Liq,CaO_Liq,Na2O_Liq,K2O_Liq,Cr2O3_Liq,P2O5_Liq,H2O_Liq,Fe3Fet_Liq,NiO_Liq,CoO_Liq,CO2_Liq,Sample_ID_Liq
0,51.1,0.93,17.5,8.91,0.18,6.09,11.50,3.53,0.17,0,0.15,3.8,0.0,0.0,0.0,0.0,Liquid1
1,51.5,1.19,19.2,8.70,0.19,4.98,10.00,3.72,0.42,0,0.14,6.2,0.0,0.0,0.0,0.0,Liquid2
2,59.1,0.54,19.1,5.22,0.19,3.25,7.45,4.00,0.88,0,0.31,6.2,0.0,0.0,0.0,0.0,Liquid3
3,52.5,0.98,19.2,8.04,0.20,4.99,9.64,4.15,0.21,0,0.14,6.2,0.0,0.0,0.0,0.0,Liquid4
4,56.2,0.34,20.4,5.88,0.20,2.58,7.18,6.02,1.02,0,0.23,6.2,0.0,0.0,0.0,0.0,Liquid5

## Loading Opxs from another sheet

In [3]:
out2=pt.import_excel('Opx_Liq_Example.xlsx', sheet_name="Separate_Opxs")
my_input=out2['my_input']
Opxs=out2['Opxs']
display(Opxs.head())

,SiO2_Opx,TiO2_Opx,Al2O3_Opx,FeOt_Opx,MnO_Opx,MgO_Opx,CaO_Opx,Na2O_Opx,K2O_Opx,Cr2O3_Opx,Sample_ID_Opx
0,55.00,0.34,1.50,11.30,0.24,30.70,0.90,0.01,0,0.19,Opx1
1,52.70,0.15,8.10,8.48,0.14,29.40,2.14,0.14,0,0.00,Opx2
2,53.20,0.20,7.40,8.80,0.13,29.20,2.37,0.14,0,0.02,Opx3
3,55.15,0.17,1.19,10.21,0.22,29.99,1.66,0.03,0,0.15,Opx4
4,56.32,0.13,1.41,10.17,0.26,30.88,1.05,0.02,0,0.16,Opx5

# Example 1 - Default settings
- The default is that Kd is calculated using the Si content of the liquid following Putirka (2008)
- We see that this yields only 3 matches for just a single Opx

In [4]:
Match1=pt.calculate_opx_liq_press_temp_matching(liq_comps=Liqs, opx_comps=Opxs, equationT="T_Put2008_eq28a",
                                         equationP="P_Put2008_eq29a")
Match1['Av_PTs']

Considering 30 Liq-Opx pairs, be patient if this is >>1 million!
Finished calculating Ps and Ts, now just averaging the results. Almost there!
Finished!

,No. of Opxs averaged,Sample_ID_Opx,st_dev_T_K_calc,Mean_T_K_calc,st_dev_P_kbar_calc,Mean_P_kbar_calc,Mean_Delta_Kd_Fe_Mg_Fe2,Mean_SiO2_Liq,Mean_TiO2_Liq,Mean_Al2O3_Liq,...,Mean_Di_Opx,Mean_Mgno_OPX,Mean_ID_OPX,Mean_ln_Fm2Si2O6_liq,Mean_ln_FmAl2SiO6_liq,Mean_Kd_Fe_Mg_Fet,Mean_Kd_Fe_Mg_Fe2,Mean_Ideal_Kd,Mean_Mgno_Liq_noFe3,Mean_Mgno_Liq_Fe2
0,3,Opx1,56.266725,1351.992696,1.302965,2.83631,0.051714,53.833333,0.8,17.933333,...,0.028142,0.82885,0.0,5.504581,-2.776023,0.244111,0.244111,0.295824,0.541487,0.541487

### Perhaps we now want to look at the distribution of Kd values in the matches, to work out what might be a reasonable cut off. 
- by stating "Return_All_Matches=True", the code doesn't apply any equilibrium filters
- This means we can look at the range of Kd values for all matches
- Red line shows equilibrium filter used above (+-0.06)

In [ ]:
Match2=pt.calculate_opx_liq_press_temp_matching(liq_comps=Liqs, opx_comps=Opxs, equationT="T_Put2008_eq28a",
                                         equationP="P_Put2008_eq29a", Return_All_Matches=True)
plt.hist(Match2['Delta_Kd_Fe_Mg_Fe2'])
plt.plot([0.06, 0.06], [0, 7], '-r')

### We can overwrite this default cut off using KDErr="Val",
- Here, we specify that we want a match within +-0.12 (e.g., 2 sigma)

In [ ]:
Match3=pt.calculate_opx_liq_press_temp_matching(liq_comps=Liqs, opx_comps=Opxs, equationT="T_Put2008_eq28a",
                                         equationP="P_Put2008_eq29a", KdErr=0.12)
Av_Matches3=Match3['Av_PTs']
All_Matches3=Match3['All_PTs']
Av_Matches3

## Plotting these matches up

In [ ]:
fig, ((ax1)) = plt.subplots(1, 1, figsize=(7, 5), sharex=True, sharey=True)

ax1.plot(All_Matches3['T_K_calc']-273.15, All_Matches3['P_kbar_calc'], '.', color='red', alpha=0.3, label="all matches")

ax1.errorbar(Av_Matches3['Mean_T_K_calc']-273.15,  Av_Matches3['Mean_P_kbar_calc'],
             xerr=Av_Matches3['st_dev_T_K_calc'], 
             yerr=Av_Matches3['st_dev_P_kbar_calc'],
             fmt='d', ecolor='k', elinewidth=0.8, 
             mfc='red', ms=8, mec='k',  label='Averaged per Opx')

ax1.invert_yaxis()

ax1.legend()
ax1.set_xlabel('Temperature (C)')
ax1.set_ylabel('Pressure (kbar)')

## Further flexibility
- Instead of calculating Kd as a function of melt Si, which is defualt, you can also specify a value of Kd Match and Kd error

In [ ]:
Match4=pt.calculate_opx_liq_press_temp_matching(liq_comps=Liqs, opx_comps=Opxs, equationT="T_Put2008_eq28a",
                                         equationP="P_Put2008_eq29a", KdMatch=0.29, KdErr=0.12)
Av_Matches4=Match4['Av_PTs']
All_Matches4=Match4['All_PTs']

In [10]:
Av_Matches4

,No. of Opxs averaged,Mean_Sample_ID_Opx,st_dev_T_K_calc,Mean_T_K_calc,st_dev_P_kbar_calc,Mean_P_kbar_calc,Mean_Delta_Kd_Fe_Mg_Fe2,Mean_SiO2_Liq,Mean_TiO2_Liq,Mean_Al2O3_Liq,...,Mean_Di_Opx,Mean_Mgno_OPX,Mean_ID_OPX,Mean_ln_Fm2Si2O6_liq,Mean_ln_FmAl2SiO6_liq,Mean_Kd_Fe_Mg_Fet,Mean_Kd_Fe_Mg_Fe2,Mean_Ideal_Kd,Mean_Mgno_Liq_noFe3,Mean_Mgno_Liq_Fe2
0,5,Opx1,40.409156,1347.487327,1.160465,3.351362,0.055706,53.1,0.914,18.44,...,0.028142,0.828850,0.0,5.481910,-2.843699,0.234294,0.234294,0.298272,0.530947,0.530947
0,4,Opx2,55.609714,1432.967666,1.492472,13.127566,0.101777,53.5,0.845,18.25,...,0.068126,0.860725,1.0,5.277812,4.080056,0.188223,0.188223,0.297026,0.537425,0.537425
0,5,Opx3,47.706344,1427.023229,1.359696,12.839355,0.098168,53.1,0.914,18.44,...,0.074962,0.855382,2.0,5.263312,3.958630,0.191832,0.191832,0.298272,0.530947,0.530947
0,5,Opx4,42.299922,1367.992248,1.223954,5.547076,0.073294,53.1,0.914,18.44,...,0.053125,0.839637,3.0,5.434682,1.602984,0.216706,0.216706,0.298272,0.530947,0.530947
0,5,Opx5,42.213547,1368.174274,1.205248,5.257490,0.080364,53.1,0.914,18.44,...,0.033103,0.844054,4.0,5.447373,2.241726,0.209636,0.209636,0.298272,0.530947,0.530947