# This workbook demonstrates how to use the various amphibole-only, and amphibole-liquid functions

## Load python things

In [1]:
import numpy as np
import pandas as pd
import sys
sys.path.append("../..")
import matplotlib.pyplot as plt
import Thermobar as pt
pd.options.display.max_columns = None

## Load data

In [2]:
out=pt.import_excel('Amphibole_Liquids.xlsx', sheet_name="Sheet1")
my_input=out['my_input']
Amps=out['Amps']
Liqs=out['Liqs']

In [3]:
display(Amps.head())
display(Liqs.head())

,SiO2_Amp,TiO2_Amp,Al2O3_Amp,FeOt_Amp,MnO_Amp,MgO_Amp,CaO_Amp,Na2O_Amp,K2O_Amp,Cr2O3_Amp,F_Amp,Cl_Amp,Sample_ID_Amp
0,40.57,2.45,12.82,13.11,0.26,13.02,11.63,2.20,0.92,0.00,0.0,0.0,probe1
1,39.45,1.88,10.80,11.85,0.00,11.32,10.94,2.04,0.75,0.00,0.0,0.0,probe2
2,42.88,3.46,14.28,15.99,0.54,14.25,12.12,2.43,1.18,0.03,0.0,0.0,probe3
3,42.20,2.75,11.10,13.10,0.39,13.55,11.07,2.27,0.95,0.01,0.0,0.0,probe4
4,40.37,2.28,10.06,11.76,0.19,12.41,10.40,2.09,0.82,0.00,0.0,0.0,probe5

,SiO2_Liq,TiO2_Liq,Al2O3_Liq,FeOt_Liq,MnO_Liq,MgO_Liq,CaO_Liq,Na2O_Liq,K2O_Liq,Cr2O3_Liq,P2O5_Liq,H2O_Liq,Fe3Fet_Liq,NiO_Liq,CoO_Liq,CO2_Liq,Sample_ID_Liq
0,62.317403,0.592583,17.015042,5.578974,0.147384,1.493784,5.199067,3.799517,3.840125,0,0.320967,5,0.0,0.0,0.0,0.0,probe_s2_1
1,63.410655,0.567627,16.682223,5.211648,0.139473,1.343074,4.680291,3.797226,4.118336,0,0.320854,5,0.0,0.0,0.0,0.0,probe_s2_2
2,64.978351,0.531840,16.204967,4.684912,0.128130,1.126960,3.936379,3.793940,4.517285,0,0.320691,5,0.0,0.0,0.0,0.0,probe_s2_3
3,60.953715,0.623712,17.430191,6.037164,0.157251,1.681775,5.846172,3.802375,3.493093,0,0.321109,5,0.0,0.0,0.0,0.0,probe_s2_4
4,60.188394,0.641183,17.663178,6.294307,0.162789,1.787278,6.209337,3.803979,3.298333,0,0.321189,5,0.0,0.0,0.0,0.0,probe_s2_5

## Example 1 - Amphibole-only pressure
- can use help to see equation options

In [10]:
help(pt.calculate_amp_only_press)

Help on function calculate_amp_only_press in module Thermobar.amphibole:

calculate_amp_only_press(amp_comps=None, equationP=None, T=None)
    Amphibole-only barometry, returns pressure in kbar.

    amp_comps: DataFrame
        Amphibole compositions with column headings SiO2_Amp, MgO_Amp etc.


    EquationP: str
        | P_Mutch2016 (T-independent)
        | P_Ridolfi2012_1a (T-independent)
        | P_Ridolfi2012_1b (T-independent)
        | P_Ridolfi2012_1c (T-independent)
        | P_Ridolfi2012_1d (T-independent)
        | P_Ridolfi2012_1e (T-independent)
        | P_Ridolfi2021 - (T-independent)- Uses new algorithm in 2021 paper to
        select pressures from equations 1a-e.

        | P_Ridolfi2010  (T-independent)
        | P_Hammerstrom1986_eq1  (T-independent)
        | P_Hammerstrom1986_eq2 (T-independent)
        | P_Hammerstrom1986_eq3 (T-independent)
        | P_Hollister1987 (T-independent)
        | P_Johnson1989 (T-independent)
        | P_Blundy1990 (T-independent)
        | P_Schmidt1992 (T-independent)
        | P_Anderson1995 (*T-dependent*)

    T: float, int, series, str  ("Solve")
        Temperature in Kelvin
        Only needed for T-sensitive barometers.
        If enter T="Solve", returns a partial function
        Else, enter an integer, float, or panda series

    Returns
    -------
    pandas series
       Pressure in kbar

### Ridolfi 2021 - Minerals - algorithm
- here, we specify equationP="P_Ridolfi2021", which combines equations 1a-1e from Ridolfi 2012 and chooses the "correct" equation using a number of filters (see Ridolfi 2021, Minerals)
- The output prints what was selected

In [11]:
P_Ridolfi2021=pt.calculate_amp_only_press(amp_comps=Amps, equationP="P_Ridolfi2021")
P_Ridolfi2021.head()

The sum of Si, Ti, Al, Fe, Mg, Ca, Na and K based on 13 cations for some input amphiboles is <90; P=nan is returned for these analyses

   P_kbar_calc   equation
0     4.572174  (1b+1c)/2
1          NaN         1b
2     6.203253      1c+1d
3     3.228704         1b
4     2.761702         1b

### Else, we can use the equation of Mutch 2016

In [12]:
P_Mutch2016=pt.calculate_amp_only_press(amp_comps=Amps, equationP="P_Mutch2016")
P_Mutch2016.head()

,P_kbar_calc,Si_T,Al_T,Al_C,Ti_C,Mg_C,Fe3_C,Fe2_C,Mn_C,Cr_C,Mg_B,Fe2_B,Mn_B,Na_B,Ca_B,Na_A,K_A,Al_tot
0,6.252577,6.025054,1.974946,0.268940,0.273685,2.882541,0.477503,1.097331,0.000000e+00,0.00000,0.0,0.053392,0.032705,0.063319,1.850584,0.570150,0.174302,2.243886
1,5.416489,6.393160,1.606840,0.455922,0.229169,2.734787,0.045632,1.534490,0.000000e+00,0.00000,0.0,0.025869,0.000000,0.074545,1.899586,0.566437,0.155056,2.062763
2,6.380755,5.784745,2.215255,0.055209,0.351103,2.865846,0.830090,0.894551,0.000000e+00,0.00320,0.0,0.079348,0.061703,0.107065,1.751884,0.528533,0.203081,2.270464
3,4.867111,6.242718,1.757282,0.177987,0.306001,2.988196,0.340790,1.185856,-8.881784e-16,0.00117,0.0,0.094001,0.048866,0.102516,1.754616,0.548564,0.179285,1.935268
4,4.662231,6.420595,1.579405,0.306290,0.272760,2.942367,0.149918,1.328664,0.000000e+00,0.00000,0.0,0.085573,0.025595,0.116590,1.772242,0.527891,0.166375,1.885695

## Example 2 - Amphibole-only temperatures
- Unlike pressures, more of these are sensitive to P
- here, we calculate tempeatures for P=5 kbar

In [13]:
P_Put2016_5kbar=pt.calculate_amp_only_temp(amp_comps=Amps, equationT="T_Put2016_eq6", P=5)
P_Put2016_5kbar.head()

0    1222.719936
1    1182.392756
2    1243.702036
3    1205.288448
4    1186.384118
dtype: float64

## Example 3 - Iterating P and T
- We can also iterate pressure and temperature - most barometers are actually T-insensitive, but the function deals with this fine.

In [14]:
Put_Mutch=pt.calculate_amp_only_press_temp(amp_comps=Amps, equationT="T_Put2016_eq6", equationP="P_Mutch2016")
Put_Mutch.head()

   P_kbar_calc     T_K_calc
0     6.252577  1225.530720
1     5.416489  1183.327357
2     6.380755  1246.800450
3     4.867111  1204.990244
4     4.662231  1185.626165

# Example 4 - Amphibole-liquid thermomtry
- as for Amp-only, except also specify liquid composition

In [15]:
help(pt.calculate_amp_liq_temp)

Help on function calculate_amp_liq_temp in module Thermobar.amphibole:

calculate_amp_liq_temp(*, amp_comps=None, liq_comps=None, equationT=None, P=None, H2O_Liq=None, eq_tests=False)
     Amphibole-liquid thermometers. Returns temperature in Kelvin.

    Parameters
     -------
     amp_comps: pandas DataFrame
         amphibole compositions (SiO2_Amp, TiO2_Amp etc.)

     liq_comps: pandas DataFrame
         liquid compositions (SiO2_Liq, TiO2_Liq etc.)

     equationT: str
         T_Put2016_eq4a_amp_sat (P-independent, H2O-dep through hydrous fractions)
         T_Put2016_eq4b (P-independent, H2O-dep)
         T_Put2016_eq9 (P-independent, H2O-dep through hydrous fractions)

     P: float, int, series, str  ("Solve")
         Pressure in kbar
         Only needed for P-sensitive thermometers.
         If enter P="Solve", returns a partial function
         Else, enter an integer, float, or panda series

     Eq_Test: bool. Default False
         If True, also calcualtes Kd Fe-Mg, which Putirka (2016) suggest
         as an equilibrium test.


     Returns
     -------
     pandas.core.series.Series
         Temperature in Kelvin

### Using T_Put2016_eq4a_amp_sat, which actually calculates the temperature at which a liquid is saturated in amphibole

In [16]:
eq4a_T=pt.calculate_amp_liq_temp(liq_comps=Liqs, amp_comps=Amps, equationT="T_Put2016_eq4a_amp_sat")
eq4a_T.head()

0    1228.795223
1    1226.300156
2    1221.844038
3    1233.595436
4    1233.106477
dtype: float64

### As for other functions, you can also specify eq_tests=True, to get the Kd Fe-Mg value Putirka suggest may be a useful equilibrium test (+0.28+-0.11)

In [17]:
eq4a_T_EqTest=pt.calculate_amp_liq_temp(liq_comps=Liqs, amp_comps=Amps, equationT="T_Put2016_eq4a_amp_sat", eq_tests=True)
eq4a_T_EqTest.head()

      T_K_calc  Kd-Fe-Mg Eq Putirka 2016?
0  1228.795223  0.269594                Y
1  1226.300156  0.269763                Y
2  1221.844038  0.269914                Y
3  1233.595436  0.269310                Y
4  1233.106477  0.269070                Y

### These equations are a little sensitive to melt H2O, because they are parameterized in terms of hydrous fractions. You can overwrite the H2O_Liq value in the entered spreadsheet

In [18]:
eq4a_T_1H2O=pt.calculate_amp_liq_temp(liq_comps=Liqs, amp_comps=Amps, equationT="T_Put2016_eq4a_amp_sat", H2O_Liq=1)
eq4a_T_1H2O.head()

0    1229.395340
1    1229.204834
2    1228.025620
3    1231.299927
4    1229.196688
dtype: float64

## Example 5 - Amphibole-Liquid barometry

In [19]:
eq7a_T_1H2O=pt.calculate_amp_liq_press(liq_comps=Liqs, amp_comps=Amps, equationP="P_Put2016_eq7a", H2O_Liq=1)
eq7a_T_1H2O.head()

0    4.328014
1    2.960536
2    5.182170
3    3.167717
4    2.728212
dtype: float64

## Example 6 - Iterating equations for Pressure and temperature for amphibole liquid

In [20]:
eq7a_eq4b=pt.calculate_amp_liq_press_temp(liq_comps=Liqs, amp_comps=Amps, equationP="P_Put2016_eq7a", equationT="T_Put2016_eq4b")
eq7a_eq4b.head()

Youve selected a P-independent function
Youve selected a T-independent function

   P_kbar_calc     T_K_calc
0     6.168027  1202.507284
1     4.801223  1189.376371
2     7.023825  1185.097051
3     5.006890  1216.975219
4     4.566914  1219.944334

### Both are actually pretty sensitive to water.

In [21]:
eq7a_eq4b_1H2O=pt.calculate_amp_liq_press_temp(liq_comps=Liqs, amp_comps=Amps, equationP="P_Put2016_eq7a", equationT="T_Put2016_eq4b", H2O_Liq=1)
eq7a_eq4b_1H2O.head()

Youve selected a P-independent function
Youve selected a T-independent function

   P_kbar_calc     T_K_calc
0     4.328014  1192.934086
1     2.960536  1180.068037
2     5.182170  1175.871630
3     3.167717  1207.106379
4     2.728212  1210.015416

### can also specify equlibrium tests

In [22]:
eq7a_eq4b_1H2O_EqTests=pt.calculate_amp_liq_press_temp(liq_comps=Liqs, amp_comps=Amps, equationP="P_Put2016_eq7a", equationT="T_Put2016_eq4b", H2O_Liq=1, eq_tests=True)
eq7a_eq4b_1H2O_EqTests.head()

Youve selected a P-independent function
Youve selected a T-independent function

   P_kbar_calc     T_K_calc  Kd-Fe-Mg Eq Putirka 2016?
0     4.328014  1192.934086  0.269594                Y
1     2.960536  1180.068037  0.269763                Y
2     5.182170  1175.871630  0.269914                Y
3     3.167717  1207.106379  0.269310                Y
4     2.728212  1210.015416  0.269070                Y