# Step 2 - Import required python packages and Thermobar

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sys
sys.path.append("../")
import Thermobar as pt

# Step 3 - Import data from a specific Excel Sheet

In [2]:
out=pt.import_excel('Example_Excel_input.xlsx', 
                    sheet_name="Sheet1")

my_input=out['my_input']

myLiquids=out['Liqs']

myPlags=out['Plags']

myOls=out['Ols']

# Step 4 - Inspect the data to ensure it read correctly

In [3]:
display(myLiquids.head())
display(myPlags.head())

,SiO2_Liq,TiO2_Liq,Al2O3_Liq,FeOt_Liq,MnO_Liq,MgO_Liq,CaO_Liq,Na2O_Liq,K2O_Liq,Cr2O3_Liq,P2O5_Liq,H2O_Liq,Fe3Fet_Liq,NiO_Liq,CoO_Liq,CO2_Liq,Sample_ID_Liq
0,49.1,3.22,14.4,14.8,3.20,3.20,6.72,3.34,1.70,0.0,0.00,0,0.0,0.0,0.0,0.0,K33
1,49.2,3.89,15.3,13.7,3.88,3.88,6.76,3.44,1.22,0.0,0.00,0,0.0,0.0,0.0,0.0,K34
2,49.6,3.79,15.8,13.0,4.26,4.26,6.59,3.65,1.04,0.0,0.02,0,0.0,0.0,0.0,0.0,K44

,SiO2_Plag,TiO2_Plag,Al2O3_Plag,FeOt_Plag,MnO_Plag,MgO_Plag,CaO_Plag,Na2O_Plag,K2O_Plag,Cr2O3_Plag,Sample_ID_Plag
0,57.3,0.09,26.6,0.43,0,0.03,8.33,6.11,0.49,0,0
1,56.5,0.12,26.9,0.47,0,0.05,8.95,5.66,0.47,0,1
2,57.6,0.11,26.3,0.50,0,0.07,8.50,6.27,0.40,0,2

In [4]:
#_____________________________________________________________

Temp_HT87=pt.calculate_liq_only_temp(liq_comps=myLiquids, 
         equationT="T_Helz1987_MgO")
Temp_HT87

0    1351.470
1    1365.138
2    1372.776
Name: MgO_Liq, dtype: float64

In [6]:
#____________________________________________________________

Temp_P2008_eq15=pt.calculate_liq_only_temp(Liq_Comps=myLiquids, 
         equationT="T_Put2008_eq15")

Exception: You've selected a P-dependent function, please pass an option for P (see help for more detail)

In [7]:
#____________________________________________________________

Temp_P2008_eq15=pt.calculate_liq_only_temp(liq_comps=myLiquids, 
         equationT="T_Put2008_eq15", P=5)

In [14]:
#____________________________________________________________

Temp_P2008_eq15_6H=pt.calculate_liq_only_temp(liq_comps=myLiquids, 
         equationT="T_Put2008_eq15", P=5, H2O_Liq=6)

Water content replaced with that from H2O_Liq

In [9]:
type(my_input['P_input'])

pandas.core.series.Series

In [7]:
#____________________________________________________________

Temp_eq15_in=pt.calculate_liq_only_temp(liq_comps=myLiquids, 
         equationT="T_Put2008_eq15", P=my_input['P_input'])

In [11]:
#____________________________________________________________

Temp_P2008_eq15_par=pt.calculate_liq_only_temp(liq_comps=myLiquids, 
         equationT="T_Put2008_eq15", P="Solve")
Temp_P2008_eq15_par(3)

0    1384.166229
1    1397.829622
2    1406.673316
dtype: float64

In [20]:
T_Liq_Peq15_inputP=pt.calculate_Liq_Temp(Liq_Comps=myLiquids, equation="T_Put2008_eq15", P=my_input['P_input'])

In [23]:
T_Liq_Peq15_inputP_2H2O=pt.calculate_Liq_Temp(Liq_Comps=myLiquids, equation="T_Put2008_eq15",
                                              P=my_input['P_input'], H2O_Liq=2)

In [22]:
T_Liq_Peq15_inputP

0    1384.166229
1    1399.787622
2    1410.589316
Name: T_K_calc, dtype: float64

In [24]:
T_Liq_Peq15_inputP_2H2O

0    1358.506229
1    1374.127622
2    1384.929316
Name: T_K_calc, dtype: float64

In [12]:
#____________________________________________________________

Liquid_T_out=myLiquids.copy()
Liquid_T_out.insert(0, "T HT87", Temp_HT87)
Liquid_T_out.insert(1, "T Peq15", Temp_P2008_eq15)
Liquid_T_out.to_excel('FileName.xlsx')

In [35]:
Liquid_T_out.to_excel('Liquid_only_Thermometry.xlsx')

In [ ]:
#____________________________________________________________

pt.calculate_amp_only_press(amp_comps=myAmps, 
   equationP="P_Mutch2016")

In [ ]:
#____________________________________________________________

pt.calculate_cpx_only_press(cpx_comps=myCpxs, 
   equationP="P_Put2008_eq32b", T=1400)

In [ ]:
#____________________________________________________________

pt.calculate_cpx_only_press_temp(cpx_comps=myCpxs, 
equationP="P_Put2008_eq32b", equationT="T_Put2008_eq32d")

In [3]:
#____________________________________________________________

Eq_ol_Roeder=pt.calculate_eq_ol_content(liq_comps=myLiquids, 
             Kd_model="Roeder1970")

C:\Users\penny\anaconda3\lib\site-packages\ipykernel\ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

TypeError: calculate_eq_ol_content() got an unexpected keyword argument 'Liq_Comps'

In [15]:
#____________________________________________________________

pt.calculate_ol_sp_temp(liq_comps=myLiquids,
                       sp_comps=mySps, equationT="T_Wan2008")

NameError: name 'mySps' is not defined

In [3]:
#____________________________________________________________

pt.calculate_eq_ol_content(liq_comps=myLiquids, 
             Kd_model="Roeder1970", Fe3FeT_Liq=0.2)

C:\Users\penny\anaconda3\lib\site-packages\ipykernel\ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

   Eq Fo (Roeder, Kd=0.3)  Eq Fo (Roeder, Kd=0.33)  Eq Fo (Roeder, Kd=0.27)
0                0.616254                 0.593479                 0.640846
1                0.677781                 0.656623                 0.700347
2                0.708781                 0.688724                 0.730041

In [7]:
#____________________________________________________________

pt.calculate_eq_ol_content(liq_comps=myLiquids,
             Kd_model="Toplis2005", P=2, T=1373.1, ol_fo=0.82)

   Kd (Toplis, input Fo)  Eq Fo (Toplis, input Fo)
0               0.282841                  0.630083
1               0.283575                  0.689952
2               0.282999                  0.720675

In [9]:
#____________________________________________________________

pt.calculate_eq_ol_content(liq_comps=myLiquids,
             Kd_model="Toplis2005", P=2, T=1373.1)

   Kd (Toplis, Iter)  Eq Fo (Toplis, Iter)
0           0.316984              0.603150
1           0.306317              0.673213
2           0.300038              0.708755

In [ ]:
#____________________________________________________________
pt.calculate_Opx_Liq_PT_melt_matching(Liq_Comps=myLiquids1,
            Opx_Comps=MyOpxs, KdMatch=0.29, KdErr=0.07)

# Step 6 - Histograms of calculated pressures for 2 input pairs

In [20]:
Eq_ol_Roeder=pt.calculate_eq_ol_content(Liq_Comps=myLiquids, 
equation="T_Put2008_Eq21", P=5)

NameError: name 'myOls1' is not defined

In [10]:
#____________________________________________________________

pt.calculate_ol_liq_temp(liq_comps=myLiquids1, ol_comps=myOls1,
equationT="T_Put2008_Eq21", P=5)

C:\Users\penny\anaconda3\lib\site-packages\ipykernel\ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

NameError: name 'myLiquids1' is not defined

In [ ]:
## Clinopyroxene - Liquid thermometry

In [ ]:
#____________________________________________________________

pt.calculate_cpx_liq_temp(liq_comps=myLiquids1, 
cpx_comps=myCpxs1, equationT="T_Put2008_eq33", P=5)

In [ ]:
#____________________________________________________________

pt.calculate_Cpx_Liq_PT_Iter(Liq_Comps=myLiquids1, 
Cpx_Comps=myCpxs1, equationT="T_Put2008_Eq33", 
equationP="P_Put2003")

In [1]:
#____________________________________________________________

calc=pt.calculate_fspar_liq_hygr(liq_comps=myLiquids1, 
plag_comps=myPlags1, equationH="H_Waters2015", T=1300, P=5)

NameError: name 'pt' is not defined

In [ ]:
#____________________________________________________________

pt.calculate_fspar_liq_hygr(liq_comps=Liqs_PL, XAn=0.5, XAb=0.4, 
    equationH="H_Waters2015", T=1300, P=5)