In [1]:
import numpy as np
import pandas as pd
import sys
sys.path.append("..")
import matplotlib.pyplot as plt
import Thermobar as pt
import sympy as sym
pd.options.display.max_columns = None

In [2]:
LiqT=pd.DataFrame(data={"SiO2_Liq": 51,
                            "TiO2_Liq": 0.48,
                            "Al2O3_Liq": 19,
                            "FeOt_Liq": 5.3,
                            "MnO_Liq": 0.1,
                            "MgO_Liq": 4.5,
                            "CaO_Liq": 9,
                            "Na2O_Liq": 4.2,
                            "K2O_Liq": 0.1,
                            "Cr2O3_Liq": 0.11,
                            "P2O5_Liq": 0.11,
                            "H2O_Liq": 5,
 "Fe3FeT_Liq":0.1,
}, index=[0])

AmpT=pd.DataFrame(data={"SiO2_Amp": 40.57,
                            "TiO2_Amp": 2.45,
                            "Al2O3_Amp": 12.82,
                            "FeOt_Amp": 13.110,
                            "MnO_Amp": 0.26,
                            "MgO_Amp": 13.02,
                            "CaO_Amp": 11.63,
                            "Na2O_Amp": 2.20,
                            "K2O_Amp": 0.92,
                            "Cr2O3_Amp": 0.01}, index=[0])

In [4]:
pt.calculate_amp_only_press(amp_comps=AmpT, equationP="P_Ridolfi2021")

The sum of Si, Ti, Al, Fe, Mg, Ca, Na and K based on 13 cations for some input amphiboles is <90; P=nan is returned for these analyses

   P_kbar_calc   equation
0     4.589114  (1b+1c)/2

In [6]:
pt.calculate_amp_only_press(amp_comps=AmpT, 
       equationP="P_Mutch2016").P_kbar_calc[0]

6.251692054556109

In [9]:
pt.calculate_amp_only_press(amp_comps=AmpT, 
       equationP="P_Anderson1995", T=1100)[0]

4.199270205779337

In [11]:
pt.calculate_amp_only_temp(amp_comps=AmpT, 
       equationT="T_Put2016_eq5")[0]

1229.1534012312634

In [12]:
pt.calculate_amp_only_temp(amp_comps=AmpT, 
       equationT="T_Put2016_eq8", P=6)[0]

1227.6548856789914

In [13]:
pt.calculate_amp_only_press_temp(amp_comps=AmpT,
       equationP="P_Anderson1995", equationT="T_Put2016_eq8").P_kbar_calc[0]

0.10279462682872165

In [14]:
pt.calculate_amp_only_press_temp(amp_comps=AmpT,
       equationP="P_Anderson1995", equationT="T_Put2016_eq8").T_K_calc[0]

1203.68274583705

In [15]:
pt.calculate_amp_only_press_temp(amp_comps=AmpT,
       equationP="P_Ridolfi2021", equationT="T_Put2016_eq8").T_K_calc[0]

The sum of Si, Ti, Al, Fe, Mg, Ca, Na and K based on 13 cations for some input amphiboles is <90; P=nan is returned for these analyses

1221.9196325167923

In [16]:
pt.calculate_amp_only_press_temp(amp_comps=AmpT,
       equationP="P_Ridolfi2021", equationT="T_Put2016_eq8").P_kbar_calc[0]

The sum of Si, Ti, Al, Fe, Mg, Ca, Na and K based on 13 cations for some input amphiboles is <90; P=nan is returned for these analyses

4.589113613235159

In [18]:
pt.calculate_amp_liq_temp(liq_comps=LiqT, amp_comps=AmpT, equationT="T_Put2016_eq4a_amp_sat")

0    1247.384143
dtype: float64

In [19]:
pt.calculate_amp_liq_temp(liq_comps=LiqT, amp_comps=AmpT, equationT="T_Put2016_eq4b")

0    1234.702307
dtype: float64

In [20]:
pt.calculate_amp_liq_temp(liq_comps=LiqT, amp_comps=AmpT, equationT="T_Put2016_eq4b", H2O_Liq=0)

0    1220.480674
dtype: float64

In [24]:
pt.calculate_amp_liq_press(liq_comps=LiqT, amp_comps=AmpT, equationP="P_Put2016_eq7a", H2O_Liq=0)

0    2.701862
dtype: float64

In [25]:
pt.calculate_amp_liq_press(liq_comps=LiqT, amp_comps=AmpT, equationP="P_Put2016_eq7b", H2O_Liq=0)

0    0.495501
dtype: float64

In [31]:
pt.calculate_amp_liq_press(liq_comps=LiqT, amp_comps=AmpT, equationP="P_Put2016_eq7b", eq_tests=True)

   P_kbar_calc  Kd-Fe-Mg Eq Putirka 2016?
0     4.359844  0.854897                N

In [32]:
pt.calculate_amp_liq_press_temp(liq_comps=LiqT, amp_comps=AmpT, 
                                equationP="P_Put2016_eq7a", equationT="T_Put2016_eq4b")

Youve selected a P-independent function
Youve selected a T-independent function

   P_kbar_calc     T_K_calc
0     5.264159  1234.702307