# This notebook demonstrates how Opxs can be matched to all possible liquids, including various equilibrium tests. 
- Users should first go through the example Opx_Liq_Thermobarometry.ipynb

## Loading python things

In [1]:
import numpy as np
import pandas as pd
import sys
sys.path.append("../..") # This allows you to put the python file in the folder above. So you can have lots of sub folders
import matplotlib.pyplot as plt
import Thermobar as pt
import sympy as sym

In [2]:
out1=pt.import_excel('Opx_Liq_Example.xlsx', sheet_name="Separate_Liqs")
my_input=out1['my_input']
Liqs=out1['Liqs']

C:\Users\penny\anaconda3\lib\site-packages\ipykernel\ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

We have set Fe3Fet_Liq to zero, as you only entered FeOt. You can input a Fe3FeT_Liq column to specify this value instead

In [3]:
out2=pt.import_excel('Opx_Liq_Example.xlsx', sheet_name="Separate_Opxs")
my_input=out2['my_input']
Opxs=out2['Opxs']

C:\Users\penny\anaconda3\lib\site-packages\ipykernel\ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

## Initially, lets try with the default filter - which calculates Kd using the Si content of the liquid following putirka (2008)
- We see that this yields no matches.

In [4]:
pt.calculate_opx_liq_press_temp_matching(liq_comps=Liqs, opx_comps=Opxs, equationT="T_Put2008_eq28a",
                                         equationP="P_Put2008_eq29a")

C:\Users\penny\anaconda3\lib\site-packages\ipykernel\ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

Considering 30 Liq-Opx pairs, be patient if this is >>1 million!
Finished calculating Ps and Ts, now just averaging the results. Almost there!
Finished!

{'Av_PTs':   Mean_Sample_ID_Opx  st_dev_T_K_calc  Mean_T_K_calc  st_dev_P_kbar_calc  \
 0               Opx1        57.256005    1367.945621            1.146206

    Mean_P_kbar_calc  Mean_Delta_Kd_Fe_Mg_Fe2  Mean_SiO2_Liq  Mean_TiO2_Liq  \
 0          6.946465                 0.051714      53.833333            0.8

    Mean_Al2O3_Liq  Mean_FeOt_Liq  ...  Mean_Di_Opx  Mean_Mgno_OPX  \
 0       17.933333           7.68  ...     0.028142        0.82885

    Mean_ID_OPX  Mean_ln_Fm2Si2O6_liq  Mean_ln_FmAl2SiO6_liq  \
 0          0.0              5.504581              -2.776023

    Mean_Kd_Fe_Mg_Fet  Mean_Kd_Fe_Mg_Fe2  Mean_Ideal_Kd  Mean_Mgno_Liq_noFe3  \
 0           0.244111           0.244111       0.295824             0.541487

    Mean_Mgno_Liq_Fe2
 0           0.541487

 [1 rows x 91 columns],
 'All_PTs':    P_kbar_calc     T_K_calc Delta_Kd_Fe_Mg_Fe2  SiO2_Liq  TiO2_Liq  Al2O3_Liq  \
 0     7.260165  1400.494777           0.053295      51.1      0.93       17.5
 1     5.676070  1301.834666           0.048017      59.1      0.54       19.1
 2     7.903159  1401.507420           0.053829      51.3      0.93       17.2

    FeOt_Liq  MnO_Liq  MgO_Liq  CaO_Liq  ...    Di_Opx  Mgno_OPX  ID_OPX  \
 0      8.91     0.18     6.09    11.50  ...  0.028142   0.82885       0
 1      5.22     0.19     3.25     7.45  ...  0.028142   0.82885       0
 2      8.91     0.18     6.09    11.50  ...  0.028142   0.82885       0

    ln_Fm2Si2O6_liq  ln_FmAl2SiO6_liq  Kd_Fe_Mg_Fet  Kd_Fe_Mg_Fe2  Ideal_Kd  \
 0         5.211708         -2.879647      0.251582      0.251582  0.304877
 1         6.070333         -2.627257      0.229167      0.229167  0.277184
 2         5.231702         -2.821164      0.251582      0.251582  0.305411

    Mgno_Liq_noFe3  Mgno_Liq_Fe2
 0        0.549218      0.549218
 1        0.526025      0.526025
 2        0.549218      0.549218

 [3 rows x 89 columns]}

### Perhaps we now want to look at the distribution of Kd values in the matches, to work out what might be a reasonable cut off. 
- by stating "Return_All_Matches=True", the code doesn't apply any equilibrium filters

In [12]:
pt.calculate_opx_liq_press_temp_matching(liq_comps=Liqs, opx_comps=Opxs, equationT="T_Put2008_eq28a",
                                         equationP="P_Put2008_eq29a", Return_All_Matches=True)

Considering 25 Liq-Opx pairs, be patient if this is >>1 million!

C:\Users\penny\anaconda3\lib\site-packages\ipykernel\ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,SiO2_Liq,TiO2_Liq,Al2O3_Liq,FeOt_Liq,MnO_Liq,MgO_Liq,CaO_Liq,Na2O_Liq,K2O_Liq,Cr2O3_Liq,...,Mgno_OPX,ID_OPX,ln_Fm2Si2O6_liq,ln_FmAl2SiO6_liq,Kd_Fe_Mg_Fet,Kd_Fe_Mg_Fe2,Ideal_Kd,Delta_Kd_Fe_Mg_Fe2,Mgno_Liq_noFe3,Mgno_Liq_Fe2
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.82885,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.82885,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.82885,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.82885,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.82885,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.860725,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.860725,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.860725,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.860725,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.860725,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.855382,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.855382,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.855382,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.855382,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.855382,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.839637,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.839637,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.839637,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.839637,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.839637,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.844054,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.844054,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.844054,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.844054,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.844054,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN