In [1]:
import numpy as np
import pandas as pd
import sys
sys.path.append("..")
import matplotlib.pyplot as plt
import Thermobar as pt
import sympy as sym
pd.options.display.max_columns = None

In [2]:
LiqT=pd.DataFrame(data={"SiO2_Liq": 51,
                            "TiO2_Liq": 0.48,
                            "Al2O3_Liq": 19,
                            "FeOt_Liq": 5.3,
                            "MnO_Liq": 0.1,
                            "MgO_Liq": 4.5,
                            "CaO_Liq": 9,
                            "Na2O_Liq": 4.2,
                            "K2O_Liq": 0.1,
                            "Cr2O3_Liq": 0.11,
                            "P2O5_Liq": 0.11,
                            "H2O_Liq": 5,
                            "Fe3Fet_Liq":0.1}, index=[0])


OlT=pd.DataFrame(data={"SiO2_Ol": 40.5,
                            "TiO2_Ol": 0.02,
                            "Al2O3_Ol": 0.08,
                            "FeOt_Ol": 12.40,
                            "MnO_Ol": 0.17,
                            "MgO_Ol": 47.4,
                            "CaO_Ol": 0.30,
                            "Na2O_Ol": 0,
                            "K2O_Ol": 0,
                            "Cr2O3_Ol": 0.03}, index=[0])

SpT=pd.DataFrame(data={"SiO2_Sp": 0,
                            "TiO2_Sp": 0.248333,
                            "Al2O3_Sp":40.09866,
                            "FeOt_Sp": 11.805333,
                            "MnO_Sp": 0.16866,
                            "MgO_Sp": 19.131667,
                            "CaO_Sp": 0.006667,
                            "Na2O_Sp": 0.000667,
                            "K2O_Sp": 0,
                            "Cr2O3_Sp": 27.107333,
                            "NiO_Sp": 0.239000}, index=[0])

In [3]:
pt.calculate_liq_only_temp(liq_comps=LiqT,
        equationT="T_Helz1987_MgO")

0    1377.6
Name: MgO_Liq, dtype: float64

In [15]:
pt.calculate_liq_only_temp(liq_comps=LiqT,
        equationT="T_Put2008_eq15", P=5)[0]

1347.1250666788997

In [16]:
pt.calculate_liq_only_temp(liq_comps=LiqT,
        equationT="T_Put2008_eq15", P=5, H2O_Liq=0)[0]

Water content replaced with that from H2O_Liq

1411.2750666788997

In [7]:
pt.calculate_liq_only_temp(liq_comps=LiqT,
        equationT="T_Put2008_eq22_BeattDMg", P=5, H2O_Liq=0)

Water content replaced with that from H2O_Liq

0    1401.874871
dtype: float64

In [17]:
pt.calculate_ol_liq_temp(liq_comps=LiqT, ol_comps=OlT,
        equationT="T_Put2008_eq19", P=5, H2O_Liq=0)

      T_K_calc  Kd (Fe-Mg) Meas
0  1370.742988         0.277645

In [19]:
pt.calculate_eq_ol_content(liq_comps=LiqT,
        ol_comps=OlT, Kd_model="Roeder1970", Fe3Fet_Liq=0.2)

,"Eq Fo (Roeder, Kd=0.3)","Eq Fo (Roeder, Kd=0.33)","Eq Fo (Roeder, Kd=0.27)",Fo_meas
0,0.863129,0.851475,0.875106,0.872023

In [9]:
pt.calculate_eq_ol_content(liq_comps=LiqT,
        ol_comps=OlT, Kd_model="Roeder1970", Fe3Fet_Liq=0.2).get("Eq Fo (Roeder, Kd=0.3)")[0]

0.8631287764106546

In [11]:
pt.calculate_eq_ol_content(liq_comps=LiqT,
        ol_comps=OlT, Kd_model="Matzen2011", Fe3Fet_Liq=0.2)

,"Eq Fo (Matzen, Kd=0.34)","Eq Fo (Matzen, Kd=0.352)","Eq Fo (Matzen, Kd=0.328)",Fo_meas
0,0.847659,0.843126,0.852242,0.872023

In [15]:
pt.calculate_eq_ol_content(liq_comps=LiqT,
        ol_comps=OlT, Kd_model="Toplis2005", Fe3Fet_Liq=0.2, P=5, T=1300)

   Kd (Toplis, input Fo)  Eq Fo (Toplis, input Fo)   Fo_meas
0               0.299103                  0.863482  0.872023

In [16]:
pt.calculate_eq_ol_content(liq_comps=LiqT,
 Kd_model="Toplis2005", Fe3Fet_Liq=0.2, P=5, T=1300)

   Kd (Toplis, Iter)  Eq Fo (Toplis, Iter)
0           0.300625              0.862883

In [ ]:
T_py=pt.calculate_ol_sp_temp(ol_comps=myOls1, sp_comps=mySps1, equationT="T_Coogan2014")-273.15