## Step 1 - Format data as .xlsx, .csv, .xls

## Step 2 - Import required python packages and Thermobar

In [3]:
# This installs Thermobar, it only needs to be run once. 
!pip install Thermobar

Requirement already satisfied: Thermobar in c:\users\penny\onedrive - oregon state university\postdoc\pymme\mybarometers\thermobar_outer\src (0.0.1)
Requirement already satisfied: pandas in c:\users\penny\anaconda3\lib\site-packages (from Thermobar) (1.2.4)
Requirement already satisfied: numpy in c:\users\penny\anaconda3\lib\site-packages (from Thermobar) (1.20.2)
Requirement already satisfied: matplotlib in c:\users\penny\anaconda3\lib\site-packages (from Thermobar) (3.4.1)
Requirement already satisfied: sklearn in c:\users\penny\anaconda3\lib\site-packages (from Thermobar) (0.0)
Requirement already satisfied: scipy in c:\users\penny\anaconda3\lib\site-packages (from Thermobar) (1.6.2)
Requirement already satisfied: statsmodels in c:\users\penny\anaconda3\lib\site-packages (from Thermobar) (0.12.2)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\penny\anaconda3\lib\site-packages (from matplotlib->Thermobar) (2.4.7)
Requirement already satisfied: cycler>=0.10 in c:\users\penny\anaconda3\lib\site-packages (from matplotlib->Thermobar) (0.10.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\penny\anaconda3\lib\site-packages (from matplotlib->Thermobar) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\penny\anaconda3\lib\site-packages (from matplotlib->Thermobar) (1.3.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\penny\anaconda3\lib\site-packages (from matplotlib->Thermobar) (8.1.2)
Requirement already satisfied: six in c:\users\penny\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib->Thermobar) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\penny\anaconda3\lib\site-packages (from pandas->Thermobar) (2021.1)
Requirement already satisfied: scikit-learn in c:\users\penny\anaconda3\lib\site-packages (from sklearn->Thermobar) (0.24.1)
Requirement already satisfied: joblib>=0.11 in c:\users\penny\anaconda3\lib\site-packages (from scikit-learn->sklearn->Thermobar) (1.0.1)

WARNING: Value for scheme.headers does not match. Please report this to <https://github.com/pypa/pip/issues/9617>
distutils: C:\Users\penny\anaconda3\Include\UNKNOWN
sysconfig: C:\Users\penny\anaconda3\Include
WARNING: Additional context:
user = False
home = None
root = None
prefix = None
WARNING: Value for scheme.headers does not match. Please report this to <https://github.com/pypa/pip/issues/9617>
distutils: C:\Users\penny\anaconda3\Include\UNKNOWN
sysconfig: C:\Users\penny\anaconda3\Include
WARNING: Additional context:
user = False
home = None
root = None
prefix = None

Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\penny\anaconda3\lib\site-packages (from scikit-learn->sklearn->Thermobar) (2.1.0)
Requirement already satisfied: patsy>=0.5 in c:\users\penny\anaconda3\lib\site-packages (from statsmodels->Thermobar) (0.5.1)

In [4]:
import Thermobar as pt             # Imports Thermobar after a user has run "!pip install Thermobar"
import numpy as np                 # Imports numpy, used for various math operations. 
import pandas as pd                # Imports pandas, used for data manipulation and display
import matplotlib.pyplot as plt    # Imports matplotlib, used for plotting

## Step 3 - Import data from a specific Excel Sheet

In [5]:
#This line reads in columns from Sheet1 of the spreadsheet.
#It returns a dictionary (collection of dataframes) which we have named "out"
out=pt.import_excel('Example_Excel_input.xlsx', sheet_name="Sheet1")
my_input=out['my_input'] 
myLiquids=out['Liqs']    # This extracts the dataframe of Liq compositions
myPlags=out['Plags']     # This extracts the dataframe of Plag compositions
myOls=out['Ols']         # This dataframe will be full of zeros, as no olivine compositions were provided

## Step 4 - Inspect the data to ensure it read correctly

In [6]:
display(myLiquids.head()) # Prints the first 5 rows of myLiquids
display(myPlags.head())   # Prints the first 5 rows of myPlags

,SiO2_Liq,TiO2_Liq,Al2O3_Liq,FeOt_Liq,MnO_Liq,MgO_Liq,CaO_Liq,Na2O_Liq,K2O_Liq,Cr2O3_Liq,P2O5_Liq,H2O_Liq,Fe3Fet_Liq,NiO_Liq,CoO_Liq,CO2_Liq,Sample_ID_Liq
0,49.1,3.22,14.4,14.8,3.20,3.20,6.72,3.34,1.70,0.0,0.00,0,0.0,0.0,0.0,0.0,K33
1,49.2,3.89,15.3,13.7,3.88,3.88,6.76,3.44,1.22,0.0,0.00,0,0.0,0.0,0.0,0.0,K34
2,49.6,3.79,15.8,13.0,4.26,4.26,6.59,3.65,1.04,0.0,0.02,0,0.0,0.0,0.0,0.0,K44

,SiO2_Plag,TiO2_Plag,Al2O3_Plag,FeOt_Plag,MnO_Plag,MgO_Plag,CaO_Plag,Na2O_Plag,K2O_Plag,Cr2O3_Plag,Sample_ID_Plag
0,57.3,0.09,26.6,0.43,0,0.03,8.33,6.11,0.49,0,0
1,56.5,0.12,26.9,0.47,0,0.05,8.95,5.66,0.47,0,1
2,57.6,0.11,26.3,0.50,0,0.07,8.50,6.27,0.40,0,2

In [8]:
help(pt.calculate_liq_only_temp)

Help on function calculate_liq_only_temp in module Thermobar.liquid_thermometers:

calculate_liq_only_temp(*, liq_comps, equationT, P=None, H2O_Liq=None)
     Liquid-only thermometery. Returns a temperature in Kelvin.

    Parameters
     -------

     liq_comps: DataFrame
         liquid compositions with column headings SiO2_Liq, MgO_Liq etc.

     equationT: str
         If has _sat at the end, represents the saturation surface of that mineral.

         Equations from Putirka et al. (2016).
             | T_Put2016_eq3_amp_sat (saturation surface of amphibole)

         Equations from Putirka (2008) and older studies:

             | T_Put2008_eq13
             | T_Put2008_eq14
             | T_Put2008_eq15
             | T_Put2008_eq16
             | T_Put2008_eq34_cpx_sat
             | T_Put2008_eq28b_opx_sat
             | T_Put1999_cpx_sat
             * Following 3 thermometers are adaptations of olivine-liquid thermometers with  DMg calculated using Beattie 1993,
             This means you can use them without knowing an olivine composition. ocan be applied when you haven't measured an olivine composiiton.
             | T_Put2008_eq19_BeattDMg
             | T_Put2008_eq21_BeattDMg
             | T_Put2008_eq22_BeattDMg

         Equations from Sugawara (2000):

             | T_Sug2000_eq1
             | T_Sug2000_eq3_ol
             | T_Sug2000_eq3_opx
             | T_Sug2000_eq3_cpx
             | T_Sug2000_eq3_pig
             | T_Sug2000_eq6a
             | T_Sug2000_eq6b

         Equations from Helz and Thornber (1987):

             | T_Helz1987_MgO
             | T_Helz1987_CaO

         Equation from Molina et al. (2015)

             | T_Molina2015_amp_sat

         Equation from Montrieth 1995
            | T_Montierth1995_MgO

         Equation from Beattie (1993)
            | T_Beatt1993_opx

     P: float, int, series, str  ("Solve")
         Pressure in kbar
         Only needed for P-sensitive thermometers.
         If enter P="Solve", returns a partial function
         Else, enter an integer, float, or panda series

     H2O_Liq: optional.
         If None, uses H2O_Liq column from input.
         If int, float, series, uses this instead of H2O_Liq Column


     Returns
     -------
     pandas series
        Temperature in K

In [ ]:
#_____________________________________________________________

Temp_HT87=pt.calculate_liq_only_temp(liq_comps=myLiquids, 
         equationT="T_Helz1987_MgO")
Temp_HT87

In [ ]:
#____________________________________________________________

Temp_P2008_eq15=pt.calculate_liq_only_temp(Liq_Comps=myLiquids, 
         equationT="T_Put2008_eq15")

In [ ]:
#____________________________________________________________

Temp_P2008_eq15=pt.calculate_liq_only_temp(liq_comps=myLiquids, 
         equationT="T_Put2008_eq15", P=5)

In [ ]:
#____________________________________________________________

Temp_P2008_eq15_6H=pt.calculate_liq_only_temp(liq_comps=myLiquids, 
         equationT="T_Put2008_eq15", P=5, H2O_Liq=6)

In [ ]:
type(my_input['P_input'])

In [ ]:
#____________________________________________________________

Temp_eq15_in=pt.calculate_liq_only_temp(liq_comps=myLiquids, 
         equationT="T_Put2008_eq15", P=my_input['P_input'])

In [ ]:
#____________________________________________________________

Temp_P2008_eq15_par=pt.calculate_liq_only_temp(liq_comps=myLiquids, 
         equationT="T_Put2008_eq15", P="Solve")
Temp_P2008_eq15_par(3)

In [ ]:
T_Liq_Peq15_inputP=pt.calculate_Liq_Temp(Liq_Comps=myLiquids, equation="T_Put2008_eq15", P=my_input['P_input'])

In [ ]:
T_Liq_Peq15_inputP_2H2O=pt.calculate_Liq_Temp(Liq_Comps=myLiquids, equation="T_Put2008_eq15",
                                              P=my_input['P_input'], H2O_Liq=2)

In [ ]:
T_Liq_Peq15_inputP

In [ ]:
T_Liq_Peq15_inputP_2H2O

In [ ]:
#____________________________________________________________

Liquid_T_out=myLiquids.copy()
Liquid_T_out.insert(0, "T HT87", Temp_HT87)
Liquid_T_out.insert(1, "T Peq15", Temp_P2008_eq15)
Liquid_T_out.to_excel('FileName.xlsx')

In [ ]:
Liquid_T_out.to_excel('Liquid_only_Thermometry.xlsx')

In [ ]:
#____________________________________________________________

pt.calculate_amp_only_press(amp_comps=myAmps, 
   equationP="P_Mutch2016")

In [ ]:
#____________________________________________________________

pt.calculate_cpx_only_press(cpx_comps=myCpxs, 
   equationP="P_Put2008_eq32b", T=1400)

In [ ]:
#____________________________________________________________

pt.calculate_cpx_only_press_temp(cpx_comps=myCpxs, 
equationP="P_Put2008_eq32b", equationT="T_Put2008_eq32d")

In [ ]:
#____________________________________________________________

Eq_ol_Roeder=pt.calculate_eq_ol_content(liq_comps=myLiquids, 
             Kd_model="Roeder1970")

In [ ]:
#____________________________________________________________

pt.calculate_ol_sp_temp(liq_comps=myLiquids,
                       sp_comps=mySps, equationT="T_Wan2008")

In [ ]:
#____________________________________________________________

pt.calculate_eq_ol_content(liq_comps=myLiquids, 
             Kd_model="Roeder1970", Fe3FeT_Liq=0.2)

In [ ]:
#____________________________________________________________

pt.calculate_eq_ol_content(liq_comps=myLiquids,
             Kd_model="Toplis2005", P=2, T=1373.1, ol_fo=0.82)

In [ ]:
#____________________________________________________________

pt.calculate_eq_ol_content(liq_comps=myLiquids,
             Kd_model="Toplis2005", P=2, T=1373.1)

In [ ]:
#____________________________________________________________
pt.calculate_Opx_Liq_PT_melt_matching(Liq_Comps=myLiquids1,
            Opx_Comps=MyOpxs, KdMatch=0.29, KdErr=0.07)

# Step 6 - Histograms of calculated pressures for 2 input pairs

In [ ]:
Eq_ol_Roeder=pt.calculate_eq_ol_content(Liq_Comps=myLiquids, 
equation="T_Put2008_Eq21", P=5)

In [ ]:
#____________________________________________________________

pt.calculate_ol_liq_temp(liq_comps=myLiquids1, ol_comps=myOls1,
equationT="T_Put2008_Eq21", P=5)

In [ ]:
## Clinopyroxene - Liquid thermometry

In [ ]:
#____________________________________________________________

pt.calculate_cpx_liq_temp(liq_comps=myLiquids1, 
cpx_comps=myCpxs1, equationT="T_Put2008_eq33", P=5)

In [ ]:
#____________________________________________________________

pt.calculate_Cpx_Liq_PT_Iter(Liq_Comps=myLiquids1, 
Cpx_Comps=myCpxs1, equationT="T_Put2008_Eq33", 
equationP="P_Put2003")

In [ ]:
#____________________________________________________________

calc=pt.calculate_fspar_liq_hygr(liq_comps=myLiquids1, 
plag_comps=myPlags1, equationH="H_Waters2015", T=1300, P=5)

In [ ]:
#____________________________________________________________

pt.calculate_fspar_liq_hygr(liq_comps=Liqs_PL, XAn=0.5, XAb=0.4, 
    equationH="H_Waters2015", T=1300, P=5)